body{
    background-color: rgba(212, 232, 249, 0.918);
    font-family: Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
    
}

nav{
    display: flex;
    justify-content: center;
    color:rgba(0, 78, 147, 0.918);
    
}
a{
    text-decoration: none;
}

nav a{
    padding: 5px 20px;
    margin: 10px;
    color:white;
    border-radius: 5px;
    background-color: rgba(0, 78, 147, 0.918);
    opacity: 0.5;
    transition: 0.4s;
}

nav a:hover{
    opacity: 1;
}


table{
    display: flex;
    justify-content: center;
    border-collapse:separate; 
    border-spacing: 0.5em 0.5em;
}
table th, td {
padding:.25em .5em;
text-align:left;
border-radius: 10px;
margin: 10px;
}
td {
background-color:#eee; 
   
}
th {
background-color:rgba(0, 109, 204, 0.918);
color:#fff;
}

*{margin:0; padding:0;}
nav a{cursor: pointer;}
.imgmenu {height: 80px; border-radius: 10px; padding: 5px;}
.imgmenu:hover {background: #eee; transition: .5s; filter: blur(2px);}
#slidebar {left: -100%; background: rgba(0, 78, 147, 0.918); position: absolute; width: 100%; opacity: 0; transition: .5s}
#slidebar.active {opacity: 1; left:0;}

#slidebarr {left: -100%; background: rgba(0, 78, 147, 0.918); position: absolute; width: 100%; opacity: 0; transition: .5s}
#slidebarr.active {opacity: 1; left:0;}
#gp2022 {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 75px;
  transform: translate(-50%, -50%);
  color:white;
  opacity:0;
}
.imgmenu:hover:hover ~ #gp2022{
        opacity:1;
        transition: .5s;
}
