body{
    background-color: rgba(212, 232, 249, 0.918);
    font-family: Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
    
}

nav{
    display: flex;
    justify-content: center;
    color:rgba(0, 78, 147, 0.918);
    
}
a{
    text-decoration: none;
}

nav a{
    padding: 5px 20px;
    margin: 10px;
    color:white;
    border-radius: 5px;
    background-color: rgba(0, 78, 147, 0.918);
    opacity: 0.5;
    transition: 0.4s;
}

nav a:hover{
    opacity: 1;
}


table{
    display: flex;
    justify-content: center;
    border-collapse:separate; 
    border-spacing: 0.5em 0.5em;
}
table th, td {
padding:.25em .5em;
text-align:left;
border-radius: 10px;
margin: 10px;
}
td {
background-color:#eee; 
   
}
th {
background-color:#009;
color:#fff;
}